.imgStyle, .PictureCol, .WebDevImg {
    background-repeat : no-repeat;
    background-position: center;
}
.imgStyle , .PictureCol{
    background-size : cover;
}
.imgStyle{
    background-image : url('images/top.jpg');
    height: 100vh;
}

.bodySection{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.AboutmeRow{
    width:90%;
    margin: auto!important;
}
.PictureCol{
    background-image : url('images/top.jpg');
}

.PortfolioRow{
    width: 95%;
    margin: auto!important;
    padding: 2vh;
}
.cardCol{
}
.internal-card, .internal-card-row{
    height : 100%;
}
.WebDevImg{
    background-size: contain;
}

.HTML{
    background-image : url('images/HTML5.png');
}
.PHP{
    background-image : url('images/PHP.png');
}
.CSS{
    background-image : url('images/CSS3.png');
}
.SYMFONY{
    background-image : url('images/SYMFONY.png');
}
.BS{
    
    background-image : url('images/BOOTSTRAP.png');
}
.MYSQL{
    background-image : url('images/Mysql.png');
}
.JS{
    background-image : url('images/JS.png');
}
.JAVA{
    background-image : url('images/JAVA.png');
}
.REACT{
    background-image : url('images/REACT.png');
}
.HIBERNATE{
    background-image : url('images/Hibernate.png');
}